body,html{
	height: 100%;
}
@font-face {
    /*font-family: 'staromoskovskyregular';
    src: url('../fonts/staromoskovsky-webfont.eot');
    src: url('../fonts/staromoskovsky-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/staromoskovsky-webfont.woff2') format('woff2'),
         url('../fonts/staromoskovsky-webfont.woff') format('woff'),
         url('../fonts/staromoskovsky-webfont.ttf') format('truetype'),
         url('../fonts/staromoskovsky-webfont.svg#staromoskovskyregular') format('svg');*/
    font-weight: normal;
    font-style: normal;
}
.container{
	max-width: 1300px;
}
.home{
	background: url(../images/bg.gif) repeat;
}
#wrapper{
	position: relative;
	z-index: 2;
}
.home #wrapper{

}
.man{
	background: url(../images/man.jpg) no-repeat 50% 0;
	width: 100%;
	/*min-height: 100%;*/
	height: 610px;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
}
.banners{
	width: 100%;
}
.banners:after{
	display: table;
	clear: both;
	content: "";
}
.logo{
  margin: 0;
  display: block;
  width:289px;
  height:159px;
}
.logo a{
  line-height: 0;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  display: block;
  height: 100%;
  outline: none;
  background: url(../images/logo-1.png) no-repeat;
}
.logo-1{
	margin: 73px 0 0 7px;
}
.logo-2{
  margin: 32px 0 0 0;
  display: block;
  float: right;
  width:148px;
  height:185px;
}
.logo-2 a{
	background: url(../images/logo-2.png) no-repeat;
}
.logo-3{
  margin: 32px 0 0 0;
  display: block;
  float: right;
  width:148px;
  height:185px;
}
.logo-3 a{
	background: url(../images/logo.png) no-repeat;
}
.slogan{
	margin: 18px 0 0 0;
	font-size: 30px;
	line-height: 36px;
	color: #ffde8d;
	font-weight: normal;
}
#header .btn{
	margin-top: 35px;
}
.ask-form{
	padding: 10px 20px;
    display: none;
}
.btn-orange{
	border-radius: 5px;
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	border-color: #f1a700;
	background: #f1a700;
	border-bottom: 4px solid #ed9100;
	min-width: 220px;
	outline: none;
	padding-top: 7px;
	padding-bottom: 7px;
}
.btn-orange:hover{
	background: #f5c100;
	border-color: #f1a700;
	color: #000;
	border-bottom: 4px solid #ed9100;
}
.btn-orange:active,.btn-orange:focus{
	color: #8a3f17;
	border-color: #f1a700;
	background: #f1a700;
	border-bottom: 4px solid #ed9100;
}
.btn-green{
	border-radius: 5px;
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
    color: #ffffff;
    background-color: #5cb85c;
    border-color: #4cae4c;
	border-bottom: 4px solid #4cae4c;
	min-width: 220px;
	outline: none;
	padding-top: 7px;
	padding-bottom: 7px;
}
.btn-green:hover{
    color: #ffffff;
    background-color: #449d44;
    border-color: #398439;
	border-bottom: 4px solid #398439;
}
.btn-green:active,.btn-green:focus{
	color: #8a3f17;
	border-color: #f1a700;
	background: #f1a700;
	border-bottom: 4px solid #ed9100;
}
.nav-m{
	margin-top: 54px;
}
.nav-m .navbar-inverse{
	background:rgba(66,31,46,0.77);
	border-radius: 0;
	border-top: 0;
	border-bottom: 1px solid #fff;
}
.nav-m .navbar-inverse .navbar-nav > li > a{
	color: #fff;
	text-decoration: none;
	/*font-family: 'staromoskovskyregular';*/
	font-size: 25px;
}
.nav-m .navbar-inverse .navbar-nav > li > a:hover{
	color: #f5c100;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
,.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
	background: #662149;
	border-bottom: 3px solid #42152f;
	border-radius: 5px;
}
.navbar{
	min-height: 76px;
	padding-top: 12px;
}
.navbar-nav > li > .dropdown-menu{
	border-radius: 4px;
	font-size: 16px;
}
.dropdown-menu > li > a{
	text-decoration: none;
	color: #643100;
	background: url(../images/dot.png) no-repeat 20px 50% ;
}
.dropdown-menu > li > a:hover{
	background: #e4d5b2 url(../images/dot.png) no-repeat 20px 50% !important;
}
.navbar-inverse .navbar-toggle{
	border-color: #f1a700;
}
.navbar-nav .open .dropdown-menu{
	background: #fff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
	color: #643100;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover{
	background: #e4d5b2 ;
	color: #643100;
}
.dropdown-menu > li > a{
	padding-left: 44px;
}
.navbar-nav > li > a{
	padding-left: 24px;
	padding-right: 24px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    background: none !important;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background: #e4d5b2 !important;
  }
}
.dropdown-menu{
	padding-bottom: 20px;
	padding-top: 14px;
}
.ttl-cont{
	background: #f1a700;
	border-radius: 5px 5px 0 0;
	padding: 10px 20px;
	width: 100%;
	overflow: hidden;
}
.ttl-cont h2{
	margin: 0;
	color: #643100;
	font-weight: normal;
}
.ttl-cont h2 a{
	color: #643100;
	text-decoration: none;
}
.ttl-cont h2 a:hover{
	color: #643100;
	text-decoration: underline;
}
.ttl-cont .date{
	display: inline-block;
	font-size: 16px;
	color: #fff;
	padding-top: 3px;
}
.txt-c{
	width: 100%;
	overflow: hidden;
	padding: 20px 20px;
	background: #fff;
	border-radius: 0 0  5px 5px;
	min-height: 446px;
}
.txt-c p{
	line-height: 22px;
}
#sidebar{
	width: 100%;
	overflow: hidden;
	padding: 0 10px;
}
#sidebar .bg{
	background: #4e273e;
	padding: 20px;
	border-radius: 5px;
}
.cl-bl{
	/*margin-top: 26px;*/
}
.banner{
	width: 100%;
	overflow: hidden;
	margin-top: 26px;
}
/*.ui-datepicker{
	width: 100%;
	padding: 0;
}*/
.ui-widget{
	font-family: Georgia, Georgia, serif;
}
.ui-datepicker td span, .ui-datepicker td a{
	text-align: center;
}
.ui-datepicker td{
	padding: 0;
}
.ui-widget-content{
	background: #fff;
	border: 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: none;
	border-color: #cec0a2;
	border: 0;
}
.ui-datepicker table{
	margin: 0;
}
.ui-datepicker th{
	padding: 0;
	text-transform: uppercase;
	font-weight: normal;
	color: #a0967e;
	padding-top: 3px;
	padding-bottom: 3px;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background: rgb(183,11,77); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(183,11,77,1) 0%, rgba(160,10,68,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(183,11,77,1)), color-stop(100%,rgba(160,10,68,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(183,11,77,1) 0%,rgba(160,10,68,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(183,11,77,1) 0%,rgba(160,10,68,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(183,11,77,1) 0%,rgba(160,10,68,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(183,11,77,1) 0%,rgba(160,10,68,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b70b4d', endColorstr='#a00a44',GradientType=1 ); /* IE6-9 */
	color: #ddccad;
	text-shadow:0 -1px 0  #26241e;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	color: #d4c6a6;
}
.ui-widget-header{
	background: rgb(205,13,110); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(205,13,110,1) 0%, rgba(179,12,97,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(205,13,110,1)), color-stop(100%,rgba(179,12,97,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(205,13,110,1) 0%,rgba(179,12,97,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(205,13,110,1) 0%,rgba(179,12,97,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(205,13,110,1) 0%,rgba(179,12,97,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(205,13,110,1) 0%,rgba(179,12,97,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd0d6e', endColorstr='#b30c61',GradientType=1 ); /* IE6-9 */
	border: 0;
}
.ui-datepicker table tr td{
	border-top: 1px solid #cec0a2 !important;
	border-left: 1px solid #cec0a2 !important;
}
.ui-datepicker table tr td:first-child{
	border-left: 0 !important;
}
.ui-state-highlight{
	background: #d4c6a6 !important;
	color: #8e8570 !important;
}
.ui-datepicker-title{
	color: #fff;
	text-shadow:0 -1px 0  #26241e;
}
.ui-datepicker-header{
	border-radius: 5px 5px 0 0;
	padding: 0 !important;
}
#sidebar .banner img{
	width: 100%;
	height: auto;
}
.form-control{
	background: #e4d5b2;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 6px 12px;
	margin-top: 7px;
}
.btn-img{
	width: 24px;
	height: 24px;
	margin: 0 12px 0 0 !important;
	padding: 0;
	font-size: 0;
	text-indent: -9999px;
	cursor: pointer;
	background: url(../images/btn.png) no-repeat;
}
.btn-img:hover{
	background: url(../images/btnh.png) no-repeat;
}
.input-group.srch-group{
	background: #e4d5b2;
	border-radius: 5px;
	height: 48px;
	z-index: 1;
}
.instruction-cell{
	padding: 20px;
	border-top: 1px solid #e4d5b2;
}
.instruction-cell:first-child{
	border-top: 0;
}
.title-top {
    padding: 15px 70px;
    text-align: center;
    min-height: 30px;
    border-bottom: 1px solid #e4d5b2;
}
.title-top h2{
	text-align: center;
	margin: 0;
}
.category-list{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}
.category-list li a{
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.65) 100%);
    background-position: center center;
    background-repeat: no-repeat;
}
.plan-info-content{
	padding: 20px;
	border-bottom: 1px solid #e4d5b2;
}
.plan-info-content .btn{
	float: right;
}
a.btn{
	text-decoration: none;
}
.plan-info-content h2{
	margin-top: 0;
}
.category-list li{
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-position: 50% 50% !important;
	height: 100px;
	width: 100%;
	display: table;
	border-bottom: 2px solid #fff;
}
.plan-detail-cover-image{
	/*width: 100%;
	height: auto;
	max-height: 485px;*/
}
.lift-card-padding{
	padding: 20px;
}
.plan-info{
	background: #fff;
	padding: 5px 0;
	border-radius: 0 0 4px 4px;
	margin-bottom: 20px;
}
.category-list li h2{
	text-align: center;
	margin: 0;
	color: #fff;
	font-size: 20px;
}
.title-top h2{
	font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
}
.serch-bl .form-control{
	font-size: 20px;
	height: 34px;
	color: #6f6f6f;
}
.input-group.srch-group .form-control:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#blog{
	width: 100%;
	overflow: hidden;
	background: #e67000;
	border-top: 1px solid #fff;
	margin-top: 60px;
	padding-top: 13px;
	padding-bottom: 10px;
}
.post-blog{
	background: #fff;
	border-radius: 5px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.ttl-blog{
	padding: 0 20px 20px;
}
.ttl-blog h1{
	color: #fff;
}
.post-blog img{
	width: 100%;
	height: auto;
}
.p-b-ttl{
	padding: 10px;
	overflow: hidden;
	width: 100%;
	padding-bottom: 20px;
}
.p-b-ttl h3{
	margin: 0;
	color: #643100;
	font-weight: normal;
	margin-top: 5px;
}
.btn-link{
	color: #662149;
}
.btn-link:hover{
	color: #a15581;
	text-decoration: none;
}
label{
	color: #643100;
}
.p-b-ttl h3 a{
	color: #643100;
	text-decoration: none;
}
.p-b-ttl h3 a:hover{
	text-decoration: underline;
}
.p-b-ttl .date{
	font-size: 14px;
	color: #42152f;
	display: inline-block;
	padding-top: 3px;
}
/*.p-b-ttl h3{
	min-height: 49px;
}*/
.pr-post-txt{
	padding: 10px;
	padding-top: 0;
}
.row-m{
	width: 100%;
}
.row-m:after{
	display: table;
	clear: both;
	content: "";
}
.pagination-m{
	text-align: center;
}
.pagination > li > a, .pagination > li > span{
	background: #e4d5b2;
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
	border-left: 1px solid #c3af99;
	font-size: 20px;
	color: #4e273e;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background: #4e273e;
	border-color: #4e273e;
}
.pagination > li:first-child > a, .pagination > li:first-child > span{
	border-left: 0 !important;
}
.pagination{
	margin: 10px 0;
}
#call{
	width: 100%;
	overflow: hidden;
	background: #4e273e;
	border-bottom: 1px solid #fff;
	padding-bottom: 55px;
}
#call label{
	display: none;
}
#call .btn-orange{
	color: #643100;
	text-align: center;
	width: 100%;
}
.form-control {
	font-size: 20px;
	color: #6f6f6f;
	height: 60px;
	padding-left: 20px;
}
#call .btn-orange{
	padding-top: 15px;
	padding-bottom: 15px;
}
.form-group{
	margin-bottom: 20px;
}
textarea.form-control {
	min-height: 228px;
}
#contact{
	width: 100%;
	background: #72001c;
	padding-top: 0px;
	padding-bottom: 45px;
	border-bottom: 1px solid #fff;
}
#contact h1{
	color: #fff;
	margin-bottom: 30px;
}
#contact h2{
	color: #fff;
	margin-bottom: 20px;
}
#contact h3{
	margin: -9px 0 0 0;
}
abbr[title]{
	border-bottom: 0;
}
#contact address{
	color: #E0E0E0;
	font-size: 18px;
	line-height: 24px;
	margin-top: 15px;
}
#contact address strong,#contact address a{
	font-weight: bold;
	color: #f1a700;
	text-decoration: none;
}
#contact address a:hover{
	text-decoration: underline;
}
#contact h4,#contact h3{
	color: #f1a700;
}
#contact h4{
	margin-bottom: 10px;
	margin-top: 30px;
}
#contact p{
	color: #E0E0E0;
	font-size: 18px;
	line-height: 24px;
}
#map{
	border-radius: 5px;
}
/*select*/
.selectbox {
	vertical-align: middle;
  cursor: pointer;
  width: 100%;
  margin-top: 16px;
}
.selectbox .select {
  width: 100%;
  height: 60px;
  padding: 0 60px 0 20px;
  font: 20px/60px Georgia, Georgia, serif;;
  color: #000;
  background: #e4d5b2;
  border-radius: 5px;
}
.selectbox .select:hover {
	background-color: #E6E6E6;
	background-position: 0 -10px;
}
.selectbox .select:active {
	background: #f5f5f5;
  box-shadow: inset 0px 1px 4px rgba(0,0,0,0.1);
}
.selectbox.focused .select {
  border: 1px solid #5794BF;
}
.selectbox .select .text {
	display: block;
  width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.selectbox .trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 38px;
	height: 100%;
}
.selectbox .trigger .arrow {
	position: absolute;
	top: 23px;
	right: 12px;
	width: 17px;
	height: 18px;
	overflow: hidden;
	background: url(../images/mark.png) no-repeat;

}
.selectbox ul.dropdown {
	top: 60px;
	width: 100%;
	margin: 0;
	padding: 4px 0;
	background: #FFF;
	border: 1px solid #C6CBD0;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	font-size: 16px;
	line-height: 20px;
	color: #643100;
}
.selectbox li {
	padding: 5px 10px 6px;
	color: #231F20;
}
.selectbox li:hover,
.selectbox li.selected {
	background: #e4d5b2;
	color: #643100;
}
.selectbox li.disabled {
	color: #AAA;
}
.selectbox li.disabled:hover {
	background: none;
}
#footer{
	width: 100%;
	background: #421f2e;
	color: #fff;
	padding: 33px 0;
    margin-top: 20px;
}
#footer a{
	color: #fff;
	text-decoration: none;
}
.img-prev img{
	width: 100%;
	height: auto;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background: #f1a700;
}
.selectbox li{
	padding-left: 20px;
}
.slogan{
	padding-right: 90px;
}
#sidebar{
	width: 20%;
	float: left;
}
#content{
	width: 75%;
	float: right;
}
.big-post{
	background: #fff;
	border-radius: 5px;
}
.inner #header{
	background: #442429;
}
.inner .logo{
	float: left;
	position: relative;
	z-index: 2;
}
.inner  .logo-1{
	margin: 8px 26px 0 0;
	height: 62px;
	width: 113px;
}
.inner  .logo-1 a{
	background: url(../images/logo-1-sm.png) no-repeat;
}
.inner  .logo-2{
	margin: 4px 66px 0 0;
	height: 67px;
	width: 95px;
}
.inner  .logo-2 a{
	background: url(../images/logo-2-sm.png) no-repeat;
}
.inner .nav-m{
	margin: 0;
	width: 100%;
}
.inner .nav-m:after{
	display: block;
	clear: both;
	content: "";
}
.drop-prof .dropdown-menu{
	left: auto;
	right: 0;
}
.inner .navbar{
	margin: 0;
	border: 0;
	float: left;
}
.inner .nav-m .navbar-inverse .navbar-nav > li > a{
	font-size: 18px;
}
.inner #header #navbar{
	text-align: left;
}
.inner .nav-m .navbar-inverse{
	background: none;
}
.ava img{
	border-radius: 50%;
}
.drop-prof{
	float: right;
	margin-top: 15px;
}
.drop-prof .caret{
	width: 15px;
	height: 8px;
	background: url(../images/drp.png) no-repeat;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	border: 0;
}
.home #main{
	margin: 0;
}
#main{
	margin-top: 30px;
}
.dashboard-side-nav{
	width: 100%;
	background: #fff;
	border-radius: 4px;
}
.dashboard-side-nav{
	padding-bottom: 30px;
}
.dashboard-nav{
	border-bottom: 1px solid #e4d5b2;
	padding: 8px 20px;
	text-align: center;
	position: relative;
}
.dashboard-nav .edit{
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 16px;
	line-height: 20px;
	color: #662149;
	text-transform: uppercase;
}
.dashboard-nav .edit em{
	display: none;
}
.dashboard-nav .edit a{
	color: #662149;
}
.dt-e{
	display: inline-block;
	vertical-align: middle;
}
.caret-m{
	width: 16px;
	height: 16px;
	font-size: 0;
	text-indent: -9999px;
	background: url(../images/mark2.png) no-repeat;
	border: 0;
	display: inline-block;
	vertical-align: middle;
	margin-left: 2px;
}
.caret-m:hover{
	background: url(../images/mark2.png) no-repeat -16px 0;
}
.dt-e span{
	display: block;
	text-align: left;
	font-size: 24px;
	color: #643100;
	line-height: 26px;
}
.dt-e strong{
	display: block;
	text-align: left;
	font-size: 13px;
	color: #643100;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 16px;
}
.color-bg{
	padding: 20px;
	background: #72001c;
}
.section .selectbox{
	margin-bottom: 5px;
}
address{
	margin-top: 25px;
}
.color-bg .section{
	color: #fff;
}
.color-bg .section h1{
	color: #fff;
	margin-top: 0;
}
.color-bg .section h3{
	color: #f1a700;
	margin-top: 0;
}
.color-bg .section a{
	color: #f1a700;
}
.add-btn{
	width: 12px;
	height: 12px;
	display: inline-block;
	position: relative;
	font-size: 0;
	text-indent: -9999px;
}
.dashboard-nav .add-btn{
	position: absolute;
	top: 0;
	right:6px;
	height: 100%;
	padding: 0 20px;
}
.date-edit a{
	text-decoration: none;
}
.date-edit .dropdown-menu{
	width: 100%;
}
.date-edit .dropdown-menu li a{
	background: none;
	padding: 10px;
	text-align: center;
	display: inline-block;
	width: 100%;
}
.date-edit .dropdown-menu li a:hover,.date-edit .dropdown-menu .active a{
	background: #e4d5b2 !important;
}
.add-btn:before{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1px;
	height: 12px;
	background: #93627f;
	margin:  -6px 0 0 0;
	content: "";
}
.add-btn:after{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	height: 1px;
	background: #93627f;
	margin: 0 0 0 -6px;
	content: "";
}
.add-btn:hover:after,.add-btn:hover:before{
	background: #f3b11e;
}
.dashboard-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.dashboard-list li{
	border-bottom: 1px solid #e4d5b2;
}
.dashboard-list li a{
	display: block;
	padding: 24px 20px 20px;
	text-decoration: none;
}
.dashboard-list li a:hover{
	background: #e4d5b2;
}
.dashboard-list .active a{
	background: #FFDE8D;
}
.dashboard-list li strong{
	font-size: 24px;
	line-height: 26px;
	color: #643100;
	font-weight: normal;
}
.ok{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	font-size: 0;
	background: url(../images/mark2.png) no-repeat 0 -16px ;
}
.ok:hover{
	background: url(../images/mark2.png) no-repeat -16px -16px ;
}
.dashboard-list span{
	display: block;
	font-size: 14px;
	line-height: 16px;
	color: #643100;
}
.lift-card{
	background: #fff;
	border-radius: 4px;
}
.card-header{
	min-height: 60px;
	position: relative;
	border-bottom: 1px solid #e4d5b2;
	position: relative;
}
.plan-name{
	padding: 10px 60px 10px 20px;
}
.plan-name h2{
	font-size: 24px;
	line-height: 30px;
	color: #643100;
	font-weight: normal;
	margin: 0;
}
.lift-card .card-header .btn-header-right{
	position: absolute;
	top: 0;
	right: 20px;
}
.btn-header-right a{
	display: block;
	padding: 20px;
	text-transform: uppercase;
	font-size: 12px;
	list-style: 1px;
}
.icon-triple-dots{
	width: 8px;
	height: 8px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border-radius: 50%;
	border: 2px solid #e4d5b2;
}
.icon-triple-dots:before, .icon-triple-dots:after{
	content: '';
	width: 8px;
	height: 8px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border-radius: 50%;
	border: 2px solid #e4d5b2;
	position: absolute;
	top: -2px;
}
.icon-triple-dots:before{
	left: -20px;
}
.icon-triple-dots:after{
	left: 16px;
}
.btn-header-right:hover .icon-triple-dots{
	border-color: #f1a700;
}
.btn-header-right:hover .icon-triple-dots:before,.btn-header-right:hover .icon-triple-dots:after{
	border-color: #f1a700;
}
.checkin-panel-wrapper{
	text-align: center;
	padding-top: 20px;
}
.checkin-button-lg{
	width: 105px;
	height: 105px;
	font-size: 0;
	text-indent: -9999px;
	background: url(../images/chk.png) no-repeat;
	display: inline-block;
	cursor: pointer;
}
.checkin-button-lg:hover{
	background-position: 0 -105px;
}
.checkin-button-lg:active,.checkin-button-lg.active{
	background-position: 0 -210px;
}
.checkin-body .indicators{
	padding: 10px 20px;
	border-bottom: 1px solid #e4d5b2;
}
.checkin-body .indicators span{
	display: inline-block;
	vertical-align: middle;
	padding-right: 10px;
}
.weekly-stats,.plan-activity-stats{
	padding: 8px 20px;
	border-bottom: 1px solid #e4d5b2;
}
.plan-activity-stats{
	border: 0;
}
.weekly-stats a,.plan-activity-stats a{
	text-decoration: none;
	display: block;
	position: relative;
}
.weekly-stats strong,.plan-activity-stats strong{
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #643100;
	padding-right: 23px;
	display: inline-block;
	vertical-align: middle;
}
.col-num{
	display: inline-block;
	vertical-align: middle;
	width: 33px;
	height: 33px;
	text-align: center;
	font-size: 16px;
	line-height: 27px;
	color: #000;
	border-radius: 50%;
	border: 1px solid #e4d5b2;
}
#ava-list,#ava-list span{
	display: inline-block;
	vertical-align: middle;
	letter-spacing: 0;
	word-spacing: 0;
	font-size: 0;
}
#ava-list{
	padding-left: 10px;
}
#ava-list img{
	display: block;
}
#ava-list span{
	width: 33px;
	height: 33px;
	margin-left: -10px;
	position: relative;
}
#ava-list img{
	border-radius: 50%;
}
#ava-list span{
	border-radius: 50%;
	border: 1px solid #e4d5b2;
}
.arrow{
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 19px;
	background: url(../images/arrow.png) no-repeat;
}
.arrow:hover,.weekly-stats a:hover .arrow,.plan-activity-stats a:hover .arrow{
	background-position: 0 -19px;
}
.weekly-stats .arrow,.plan-activity-stats .arrow{
	position: absolute;
	right: 0;
	top: 8px;
}
.lift-card{
	margin-bottom: 27px;
}
.questions-block h2{
	text-align: center;
}
.questions-block .btn-header-right a{
	padding-left: 0;
	padding-right: 0;
}
.questions-block .plan-name{
	padding-left: 70px;
	padding-right: 70px;
}
.qstn-list{
	width: 100%;
	background: #f2eee6;
}
.one-item{
	background: #fff;
	margin-bottom: 10px;
	border-radius: 4px;
}
.one-item:first-child{
	border-radius: 0 0 4px 4px;
}
.one-item a{
	display: block;
	text-decoration: none;
	padding: 20px;
}
.one-item .name-qstn{
	display: block;
	font-size: 24px;
	line-height: 26px;
	color: #6f6f6f;
	font-weight: normal;
	padding-bottom: 10px;
}
.who{
	display: inline-block;
	vertical-align: middle;
}
.who img{
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	border: 1px solid #e4d5b2;
}
.who em{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	line-height: 20px;
	color: #747474;
	font-style: normal;
	padding-left: 5px;
}
.comments{
	display: block;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	padding-top: 10px;
	color: #643100;
}
@media screen and (min-width: 1000px) and (max-width: 1300px){
	.inner .nav-m .navbar-inverse .navbar-nav > li > a{
		font-size: 15px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media screen and (max-width: 1000px){

	.inner .navbar-toggle{
		float: right;
		display: block;
	}
	.inner .collapse{
		display: none;
	}
	.inner  .navbar-collapse.collapse{
		display: none !important;
	}
	.inner .collapse.in{
		display: block !important;
	}

	.inner .navbar{
		float: right;
	}
	.inner #navbar{
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background:rgba(66,31,46,0.77);
		border-radius: 0;
		border-top: 0;
		border-bottom: 1px solid #fff;
		z-index: 30;
	}
	.inner .navbar{
		position: static;
	}

}
@media screen and (min-width: 768px) and (max-width: 1200px){
	.nav-m .navbar-inverse .navbar-nav > li > a{
		font-size: 16px;
		padding-left: 13px;
		padding-right: 13px;
	}
	.man{
		height: 500px;
	}
	.slogan{
		font-size: 16px;
		line-height: 18px;
		padding: 0;
	}
	.custom-col-1 .btn-orange{
		max-width: 100px !important;
		min-width: 100px !important;
		font-size: 16px;
	}
	#sidebar{
		width: 30%;

	}
	#content{
		width: 70%;
	}
}
@media screen and (min-width: 768px){
	#header .navbar-nav > li{
		float: none;
		display: inline-block;
	}

	#header .navbar-nav{
		display: inline-block;
		text-align: center;
		float: none;
	}
	#header #navbar{
		text-align: center;
	}
}
@media screen and (max-width: 810px){
	  #sidebar,#content{
	  	width: 100%;
	  	float: none;
	  }
	  .man{
		height: 400px;
	}
	.banner{
		float: left;
		width: 50%;
		padding: 10px;
		padding-right: 0;
	}
	.banner:first-child{
		padding-left: 0;
		padding-right: 10px;
	}
	#sidebar{
		margin-bottom: 10px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1000px){
	.custom-col-1 .logo-1{
		width: 200px;
		height: 110px;
		margin: 5px;
	}
	.custom-col-1 .logo-1 a{
		background: url(../images/logo-1-md.png) no-repeat;
	}
	.custom-col-2 .logo-2{
		width: 100px;
		height: 125px;
		margin-top: 5px;
	}
	.custom-col-2 .logo-2 a{
		background: url(../images/logo-2-md.png) no-repeat;
	}
}
@media screen and (max-width: 768px){
	.dashboard-nav .edit em{
		display: inline-block;
	}
	.dashboard-nav .edit span{
		display: none;
	}
	.custom-col-1 .btn-orange{
		max-width: 100px !important;
		min-width: 100px !important;
		font-size: 16px;
	}
	.custom-col-1 .logo-1{
		width: 113px;
		height: 62px;
		margin: 5px;
	}
	.custom-col-1 .logo-1 a{
		background: url(../images/logo-1-sm.png) no-repeat;
	}
	.custom-col-2 .logo-2{
		width: 53px;
		height: 67px;
		margin-top: 5px;
	}
	.custom-col-2 .logo-2 a{
		background: url(../images/logo-2-sm.png) no-repeat;
	}
	.slogan{
		font-size: 16px;
		line-height: 18px;
		padding: 0;
	}
	.custom-col-1 .btn-orange{
		min-width: 100px;
		width: 100%;
		font-size: 16px;
	}
	#call .btn-orange{
		min-width: 100px;
	}
	#contact address{
		font-size: 16px;
		line-height: 18px;
	}

}
@media screen and (max-width: 600px){
	.custom-col-1,.custom-col-2{
		width: 100%;
		float: none;
		margin: 0;
		position: static;
	}
	.man{
		display: none;
	}
	.logo-2{
		position: absolute;
		top: 0;
		right: 5px;
	}
	.custom-col-1 .btn-orange{
		width: 100% !important;
		max-width: 100% !important;
	}
	.inner .logo{
		margin: 5px 5px 0 0;
		position: static;
	}
}
@media screen and (max-width: 400px){
	.ttl-cont h2{
		font-size: 16px;
		line-height: 18px;
	}
	#contact .col-md-6{
		padding: 0;
	}
}
.container{
	width: 100% !important;
}
.big-post{
	margin-bottom: 20px;
}
.caret-custom{
	width: 8px;
	height: 5px;
	border: 0;
	background: url(../images/drop-sm.png) no-repeat;
}
.nav-m .navbar-inverse .navbar-nav > li > a:hover .caret-custom{
	background: url(../images/drop-sm-a.png) no-repeat;
}

.highlight{
    text-decoration: underline;
    background-color: #FFDE8D;
}
.statistic-data{
    display: none;
}
.post-padding{
    padding: 15px;
}
